$default_fontsize: 14px

.main_banner
  
  .banner_tabs
    width: 100%
    height: 48px
    display: flex
    background-color: white
    align-items: flex-end
    
    div
      width: 50%
      height: 44px
      background-color: lightgray
      display: flex
      align-items: center
      padding: 0 10px
      color: white
      cursor: pointer
      transition: 0.3s
      
      &:nth-child(1)
        justify-content: flex-end
        
        &.banner_tabs-selected
          border-radius: 0 4px 0 0
      
      &:nth-child(2)
        justify-content: flex-start

        &.banner_tabs-selected
          border-radius: 4px 0 0 0

    .banner_tabs-selected
      height: 48px
      padding-top: 4px
      background-color: gray
      
  .banner
    width: 100%
    height: 300px
    background-color: gray
    display: flex
    justify-content: center
    
    .banner_planner
      width: 100%
      max-width: 1120px
      padding: 0 20px
      
      h1
        font-weight: 600
        font-size: 32px
        color: white
      
      .planner
        
        .planner_search
          width: 100%
          height: 55px
          display: flex
          justify-content: space-between
          align-items: center
          
          .stations-search
            flex: 1
            
            input
              padding: 0 10px 0 50px
            
            label
              width: 50px
              height: 100%
              position: absolute
              display: flex
              justify-content: center
              align-items: center
              font-weight: 600
              font-size: $default_fontsize
            
          .planner_switch
            width: 55px
            height: 55px
            border-radius: 55px
            background-color: darkgray
            margin: 0 20px