$default_fontsize: 16px

$main: #606060


.planner
  width: 100%
  height: 250px
  background-color: gray
  display: flex
  justify-content: center
  align-items: center
  
  .planner_content
    width: 100%
    max-width: 1120px
    padding: 0 20px
    background-color: gray
    display: flex
    flex-direction: column
    
    h1
      font-weight: 600
      font-size: 32px
      color: white
    
    .planner_form
      
      .planner_search
        width: 100%
        height: 55px
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 15px
        
        .stations_search
          flex: 1
          
          input
            padding: 0 10px 0 50px
            font-size: $default_fontsize
            border-radius: 6px
          
          label
            width: 50px
            height: 100%
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            font-weight: 600
            font-size: $default_fontsize
            
          svg
            font-size: 28px
          
        .planner_switch
          width: 55px
          height: 55px
          display: flex
          justify-content: center
          align-items: center
          border-radius: 55px
          background-color: darkgray
          margin: 0 20px
          cursor: pointer
          font-size: 40px
          color: white
          
      .planner_buttons
        width: 100%
        height: 40px
        display: flex
        justify-content: space-between
        
        .planner_datetime
          display: flex
          
          .planner_date,
          .planner_time
            position: relative
            
            label
              width: 40px
              height: 40px
              display: flex
              justify-content: center
              align-items: center
              background-color: darkgray
              position: absolute
              border-radius: 6px
              color: white
              font-size: 24px
          
            input
              height: 40px
              border-radius: 6px
              border: 0
              font-size: $default_fontsize
              margin-right: 10px
              padding: 0 10px 0 50px
        
        .planner_submit
          width: 150px
          background-color: $main
          color: white
          border-radius: 6px
          border: 0
          font-size: $default_fontsize
          font-weight: 600
          cursor: pointer
.trips
  width: 100%
  display: flex
  justify-content: center

  .trips_content
    width: 100%
    min-height: 400px
    max-width: 1120px
    padding: 20px
    display: flex
    
    .trips_results
      width: 50%
      margin-right: 10px
      
      .trips_result
        width: 100%
        height: 90px
        color: black
        background-color: white
        margin-bottom: 10px
        border-radius: 6px
        padding: 10px 20px
        display: flex
        flex-direction: column
        justify-content: space-evenly
        align-items: center
        text-decoration: none
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1)
        
        .trips_row
          width: 100%
          display: flex
          justify-content: space-between
            
          div
            display: flex
            align-items: center
            
          .trips_times 
            span
              font-size: 18px
              font-weight: 600
            svg
              margin: 0 5px
              
          .trips_transport
            svg
              font-size: 24px
              color: gray
              margin-right: 5px
              
          .trips_info
            svg
              font-size: $default_fontsize + 2px
              margin: 0 5px 0 10px
    
    .trips_details
      width: 50%
      background-color: white
      margin-left: 10px
      border-radius: 6px
      height: fit-content
      padding-bottom: 30px
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1)
      
      .trips_title
        width: 100%
        height: 60px
        padding: 0 20px
        font-size: 18px
        display: flex
        align-items: center
        font-weight: 600
        margin-bottom: 30px
        border-bottom: 1px solid lightgray
        
      .trips_legs
        width: 100%
        height: auto
        
        .trips_leg
          width: 100%
          height: 160px
          display: flex
          
          .trips_times
            width: 100px
            height: 100%
            display: flex
            justify-content: space-between
            align-items: center
            flex-direction: column
            
            svg
              font-size: 42px
              color: gray
              
            span
              font-size: 18px
              font-weight: 600
              
              &:nth-child(1)
                position: relative
                top: -5px
                
              &:nth-child(2)
                position: relative
                bottom: -5px
              
          .trips_graphic
            height: 100%
            display: flex
            justify-content: space-between
            flex-direction: column
            align-items: center
            position: relative
            
            .trips_pin
              width: 13px
              height: 13px
              border-radius: 13px
              background-color: white
              border: 3px solid black
              z-index: 1
              
            .trips_line
              width: 3px
              height: 100%
              position: absolute
              background-color: black
          
          .trips_info
            flex: 1
            display: flex
            justify-content: space-between
            flex-direction: column
            padding: 0 30px
            
            .trips_station
              width: 100%
              display: flex
              justify-content: space-between
              align-items: center
              font-size: 18px
              font-weight: 600
              position: relative
              
              .trips_track
                font-size: 14px
                font-weight: normal
                text-transform: uppercase
                color: lightgray
              
              &:nth-child(1)
                top: -5px
              &:nth-child(3)
                bottom: -5px
                
            .trips_notes
              flex: 1
              display: flex
              justify-content: center
              flex-direction: column
              border-top: 1px solid lightgray
              border-bottom: 1px solid lightgray
              margin: 10px 0
              font-size: $default_fontsize
              
        .trips_transfer
          width: 100%
          height: 80px
          display: flex
            
          .trips_transfer_icon
            width: 100px
            height: 100%
            display: flex
            justify-content: center
            align-items: center

            svg
              font-size: 42px
              color: gray
            
          .trips_transfer_graphic
            width: 13px
            height: 100%
            display: flex
            justify-content: center
            
            div
              width: 3px
              height: 100%
              background-color: gray
          
          .trips_transfer_info
            flex: 1
            display: flex
            justify-content: center
            flex-direction: column
            margin: 20px 0
            font-size: $default_fontsize
            padding: 0 30px
            
            div
              display: flex
              align-items: center
              border-radius: 6px
              height: 40px
              background-color: lightgray
              padding: 0 10px
              font-weight: 600