$default_fontsize: 14px

.stations_search
  width: 300px
  position: relative
  
  input
    width: 100%
    height: 40px
    padding: 0 10px
    border: 0
    
  .stations_results
    width: 100%
    max-height: 200px
    overflow-y: scroll
    background-color: white
    border-radius: 5px
    position: absolute
    z-index: 99
    margin-top: 5px
    
    div
      width: 100%
      height: 50px
      display: flex
      align-items: center
      text-overflow: ellipsis
      padding: 0 10px
      font-size: $default_fontsize
      transition: 0.3s
      
      &:hover
        background-color: cornflowerblue
        color: white
        cursor: pointer