@page
@model IndexModel

<div class="main_banner">
    <div class="banner_tabs">
        <div class="banner_tabs-selected">
            <span>Reisplanner</span>
        </div>
        <div>
            <span>Schoolrooster</span>
        </div>
    </div>
    <div class="banner">
        <div class="banner_planner">
            <h1>Plan je reis</h1>
            <div class="planner">
                <div class="planner_search">
                    <div class="stations-search">
                        <input type="text" name="query" autocomplete="off"/>
                        <div class="stations-search_results"></div>
                    </div>

                    <div class="stations-search">
                        <input type="text" name="query" autocomplete="off"/>
                        <div class="stations-search_results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>