@page
@model IndexModel

<div class="banner">
    <div class="banner_tabs">
        <div id="planner" class="banner_tabs-selected">
            <span>Reisplanner</span>
        </div>
        <div id="schedule">
            <span>Schoolrooster</span>
        </div>
    </div>
    <div class="banner_content">
        <div class="banner_planner">
            <h1>Plan je reis</h1>
            <form class="planner">
                <div class="planner_search">
                    <div class="stations_search">
                        <label>van</label>
                        <input type="text" name="from" autocomplete="off" placeholder="station of stad" required/>
                        <div class="stations_results"></div>
                    </div>
                    
                    <div class="planner_switch"></div>
                    
                    <div class="stations_search">
                        <label>naar</label>
                        <input type="text" name="to" autocomplete="off" placeholder="station of stad" required/>
                        <div class="stations_results"></div>
                    </div>
                </div>
                <div class="planner_buttons">
                    <div class="planner_date">
                        <input type="date" required/>
                    </div>

                    <div class="planner_time">
                        <input type="time" required/>
                    </div>
                    
                    <input id="datetime" name="datetime" type="hidden"/>
                    
                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </div>
        
        <div class="banner_schedule"></div>
    </div>
</div>