@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main_banner">
    <div class="banner_tabs">
        <div class="banner_tabs-selected">
            <span>Reisplanner</span>
        </div>
        <div>
            <span>Schoolrooster</span>
        </div>
    </div>
    <div class="banner">
        
    </div>
</div>