@page
@model IndexModel

<div class="banner">
    <div class="banner_tabs">
        <div id="planner" class="banner_tabs-selected">
            <span>Reisplanner</span>
        </div>
        <div id="schedule">
            <span>Schoolrooster</span>
        </div>
    </div>
    <div class="banner_content">
        <div class="banner_planner">
            <h1>Plan je reis</h1>
            <form class="planner" method="get">
                <input type="hidden" name="handler" value="Trips" />
                <div class="planner_search">
                    <div class="stations_search">
                        <label>van</label>
                        <input type="text" id="fromStation" name="fromStation" autocomplete="off" placeholder="station of stad" required/>
                        <div class="stations_results"></div>
                    </div>

                    <div class="planner_switch"></div>

                    <div class="stations_search">
                        <label>naar</label>
                        <input type="text" id="toStation" name="toStation" autocomplete="off" placeholder="station of stad" required/>
                        <div class="stations_results"></div>
                    </div>
                </div>
                <div class="planner_buttons">
                    <div class="planner_date">
                        <input name="date" type="date" required/>
                    </div>

                    <div class="planner_time">
                        <input name="time" type="time" required/>
                    </div>

                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </div>
        
        <div class="banner_schedule"></div>
    </div>
</div>

<div class="trips">
    <div class="trips_content">
        @if (Model.Trips != null)
        {
            <div class="trips_results">
                @foreach (var trip in Model.Trips)
                {
                    <a class="trips_result" href="?handler=TripDetails&context=@Html.Raw(Uri.EscapeDataString(trip.Context))">
                        <div class="trips_row">
                            <div class="trips_times">
                                <span class="trips_timespan">@trip.PlannedDepartureTime</span>
                                <span>></span>
                                <span class="trips_timespan">@trip.PlannedArrivalTime</span>
                            </div>
                            <div class="trip_info">
                                <span>@trip.PlannedDuration</span>
                                <span>@trip.Transfers</span>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="trips_details">
                <div class="trips_title">Reisadvies</div>
                <div class="trips_legs"></div>
            </div>
        }
    </div>
</div>