@page
@model IndexModel

<div class="planner">
    <div class="planner_content">
        <h1>Plan je reis</h1>
        <form class="planner_form">
            <div class="planner_search">
                <div class="stations_search">
                    <label>van</label>
                    <input type="text" id="fromStation" name="fromStation" autocomplete="off" placeholder="station of stad" required/>
                    <div class="stations_results"></div>
                </div>

                <div class="planner_switch"></div>

                <div class="stations_search">
                    <label>naar</label>
                    <input type="text" id="toStation" name="toStation" autocomplete="off" placeholder="station of stad" required/>
                    <div class="stations_results"></div>
                </div>
            </div>
            <div class="planner_buttons">
                <div class="planner_datetime">
                    <input name="date" type="date" required/>
                    <input name="time" type="time" required/>
                </div>
                
                <input class="planner_submit" type="submit" value="Plannen"/>
            </div>
        </form>
    </div>
</div>

<div class="trips">
    <div class="trips_content">
        <div class="trips_results"></div>
        <div class="trips_details">
            <div class="trips_title">Reisadvies</div>
            <div class="trips_legs"></div>
        </div>
    </div>
</div>