<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>StudiGO</title>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/stations.css" asp-append-version="true"/>
</head>
<body>
<header>
    <div class="header_content">
        <div class="header_logo">
            <div></div>
            <span>StudiGO</span>
        </div>
    </div>
</header>

<main>
    @RenderBody()
</main>

<footer>

</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/main.js" asp-append-version="true"></script>
<script src="~/js/utils.js" asp-append-version="true"></script>
<script src="~/js/stations.js" asp-append-version="true"></script>
<script src="~/js/planner.js" asp-append-version="true"></script>
<script src="~/js/trips.js" asp-append-version="true"></script>
<script src="~/js/tripdetails.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>